* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main{
    font-family: "Oswald", sans-serif;
    color: #bab0aa
}

.landing {
    min-height: 100vh;
    background: url("./beach.png");
    background-size: cover;
    padding: 0rem 5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
    color: #bab0aa
}
.nav-links {
    display: flex;
    list-style: none;
    color: #bab0aa
}

.a-landing {
    text-decoration: none;
    color: #bab0aa
}

.a-landing:hover {
    color: #ffffff
}

.nav-links li {
    padding-left: 8rem;
    font-size: 1.6rem;
    color: #bab0aa
}
#logo {
    font-family: "Sigmar", sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    color: #bab0aa
}

.big-text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: 5rem;
    font-family: "Sigmar", sans-serif;
    font-weight: lighter;
    color: #bab0aa
}
.small-text{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -42%);
    font-size: 3rem;
    font-family: "Sigmar", sans-serif;
    font-weight: lighter;
    color: #bab0aa
}

.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background: rgb(96, 94, 105);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: rgb(222, 239, 255);
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
}


.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.cv-layout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 700px;
  }
  
  .cv-layout embed {
    width: 100%;
    height: 100%;
    border: none;
  }